

<head>

    <style>
        html {
            scroll-behavior: smooth;
        }

        .nav {
            background-color: rgba(0, 0, 0, .4);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            min-height: 10vh;
        }

        .custom-shadow:hover {

            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);

        }

        .navbar-menu a {
            color: white;
            font-size: 17px;
        }

        .card {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);

        }

        .card {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }


        .card:hover {
            box-shadow: 0px 0px 5px #ccc;
        }

        .card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .card .content {
            height: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
        }

        .card.expanded .content {
            height: auto;
        }

        @media (min-width: 768px) {
            .large_card {
                width: 30vw;
            }
        }
    </style>
    <script type="module" src="static/index.js"></script>
    <script type="module" src="static/main.js"></script>
    
</head>


{% extends "base.html" %}



{% block content %}

    <section class="hero is-light">
        <div class="hero-body center">
            <div class="container">
                <a class="center_horizontal" style="margin-top: 10vh">
                    <h1 class="title is-1 is-uppercase">Works</h1>

                </a>
                <a class="center_horizontal" href="store" style="margin-top: 1vh">
                    <h1 class="subtitle is-uppercase text-decoration: underline;" style="color: hsl(171, 100%, 41%);">
                        Back to Store</h1>

                </a>
                <div class="columns is-desktop ">

                    <div class="column is-half center_horizontal" >
                        <a id="modal-button5">
                            <div class="card large_card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="/static/images/characters/crossroads.png" >
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <h2 class="title is-4">Crossroads</h2>
                                    <p class="subtitle is-6">$350</p>
                                    <p class="subtitle is-6">Sophia Zhang, oil painting
                                        14X18 in
                                        </p>
                                </div>
                            </div>
                        </a>
                        <div class="modal" id="my-modal5">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                                <div class="box">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="/static/images/characters/crossroads.png">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h2 class="title is-4">Crossroads</h2>
                                        <p class="subtitle is-6">$350</p>
                                        <p class="subtitle is-6">Sophia Zhang, oil painting
                                            14X18 in</p>
                                        <button class="button is-primary" id="modal-close5">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="column is-half center_horizontal">
                        <a id="modal-button6">
                            <div class="card large_card" >
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="/static/images/characters/inner_peace.png">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <h2 class="title is-4">Inner Peace
                                    </h2>
                                    <p class="subtitle is-6">$600</p>
                                    <p class="subtitle is-6">Sophia Zhang, oil painting
                                        20X24 in
                                        
                                        </p>
                                </div>
                            </div>
                        </a>
                        <div class="modal" id="my-modal6">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                                <div class="box">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="/static/images/characters/inner_peace.png">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h2 class="title is-4">Inner Peace
                                        </h2>
                                        <p class="subtitle is-6">$600</p>
                                        <p class="subtitle is-6">Sophia Zhang, oil painting
                                            20X24 in
                                            </p>
                                        <button class="button is-primary" id="modal-close6">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="columns is-desktop">
                    <div class="column is-one-quarter">
                        <a id="modal-button0">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="/static/images/store0.png">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <h2 class="title is-4">Sonder</h2>
                                    <p class="subtitle is-6">$200</p>
                                    <p class="subtitle is-6">Sophia Zhang, Acrylic Painting, 9X12 in, Scholastic Art Award,
                                        Gold Key</p>
                                    <p class="content">I created this painting to symbolize the philosophy of profound
                                        pondering and attitude of contemplation. Different people have each have
                                        different
                                        understandings of art. You can interpret the meaning of this painting in your
                                        own
                                        way. </p>
                                </div>
                            </div>
                        </a>


                        <div class="modal" id="my-modal0">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                                <div class="box">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="/static/images/store0.png">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h2 class="title is-4">Sonder</h2>
                                        <p class="subtitle is-6">$200</p>
                                        <p class="subtitle is-6">Sophia Zhang, Acrylic Painting, 9X12 in, Scholastic Art
                                            Award,
                                            Gold Key</p>
                                        <p class="content">I created this painting to symbolize the philosophy of
                                            profound
                                            pondering and attitude of contemplation. Different people have each have
                                            different
                                            understandings of art. You can interpret the meaning of this painting in
                                            your own
                                            way. </p>
                                        <button class="button is-primary" id="modal-close0">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="column is-one-quarter">
                        <a id="modal-button1">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="/static/images/store1.png">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <h2 class="title is-4">Achilles</h2>
                                    <p class="subtitle is-6">$200</p>
                                    <p class="subtitle is-6">Sophia Zhang, Charcoal Drawing</p>
                                    <p class="content">This is a charcoal drawing of the Greek war hero Achilles. In
                                        Homer’s
                                        Iliad, he is well-known for slaying the Trojan prince Hector outside the gates
                                        of
                                        Troy. This piece is meant to symbolize loss and grief.</p>
                                </div>
                            </div>
                        </a>


                        <div class="modal" id="my-modal1">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                                <div class="box">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="/static/images/store1.png">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h2 class="title is-4">Achilles</h2>
                                        <p class="subtitle is-6">$200</p>
                                        <p class="subtitle is-6">Sophia Zhang, Charcoal Drawing</p>
                                        <p class="content">This is a charcoal drawing of the Greek war hero Achilles. In
                                            Homer’s
                                            Iliad, he is well-known for slaying the Trojan prince Hector outside the
                                            gates
                                            of
                                            Troy. This piece is meant to symbolize loss and grief.</p>
                                        <button class="button is-primary" id="modal-close1">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="column is-one-quarter">
                        <a id="modal-button2">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="/static/images/store2.png">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <h2 class="title is-4">Perseus</h2>
                                    <p class="subtitle is-6">$150</p>
                                    <p class="subtitle is-6">Sophia Zhang, Charcoal Drawing, 14X18 in</p>
                                    <p class="content">In Greek mythology, Perseus is best known for slaying the Gorgon
                                        Medusa and rescuing Andromeda from the sea monster. In this drawing, Perseus,
                                        wearing the Cap of Invisibility given to him by war goddess Athena, holds up the
                                        severed head of Medusa (not shown). This piece symbolizes triumph and conquest.
                                    </p>
                                </div>
                            </div>
                        </a>


                        <div class="modal" id="my-modal2">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                                <div class="box">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="/static/images/store2.png">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h2 class="title is-4">Perseus</h2>
                                        <p class="subtitle is-6">$150</p>
                                        <p class="subtitle is-6">Sophia Zhang, Charcoal Drawing, 14X18 in</p>
                                        <p class="content">In Greek mythology, Perseus is best known for slaying the
                                            Gorgon
                                            Medusa and rescuing Andromeda from the sea monster. In this drawing,
                                            Perseus,
                                            wearing the Cap of Invisibility given to him by war goddess Athena, holds up
                                            the
                                            severed head of Medusa (not shown). This piece symbolizes triumph and
                                            conquest.
                                        </p>
                                        <button class="button is-primary" id="modal-close2">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="column is-one-quarter">
                        <a id="modal-button3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="/static/images/other/Life well lived.png">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <h2 class="title is-4">Life Well Lived</h2>
                                    <p class="subtitle is-6">$250</p>
                                    <p class="subtitle is-6">Sophia Zhang, Oil Painting 10X12 in, Fort Wayne Art League Scholarship Recipient</p>
                                    <p class="content">
                                    </p>
                                </div>
                            </div>
                        </a>


                        <div class="modal" id="my-modal3">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                                <div class="box">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="/static/images/other/Life well lived.png">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h2 class="title is-4">Life Well Lived</h2>
                                        <p class="subtitle is-6">$250</p>
                                        <p class="subtitle is-6">Sophia Zhang, Oil Painting 10X12 in, Fort Wayne Art League Scholarship Recipient</p>
                                        <p class="content">
                                        </p>
                                        <button class="button is-primary" id="modal-close3">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}