{% extends "base.html" %}

{% block content %}
    <div class="card-image">
        <figure class="image " style="background-color: black; ">
            <div class="parallax"></div>

        </figure>
    </div>
    <div class="is-overlay center">
        <div class="center" style="display:block;">
            <p class="title is-1 has-text-light center">
                Art Heals
            </p>
            <p class="title is-2 has-text-light center" style="font-weight: 100;">
                Giving to those in need
            </p>
        </div>

    </div>



    <section class="hero">
        <div class="hero-body" style="display:block;">
            <div class="columns is-centered is-mobile">
                <p class="title is-4" style="font-weight: 1000; padding-top: 3vh">
                    Watch Sophia's interview on 21Alive News by clicking
                    <a href="https://www.21alivenews.com/2023/05/16/art-hope-how-one-local-teen-is-turning-passion-into-purpose/">HERE</a>
                </p>
            </div>

            <p class="title center_horizontal is-1" id="purpose">
                Our Purpose
            </p>


            <div class="center is-desktop" style="max-width: 70vh;">

                <p class="is-size-5">
                    At Art Heals, we believe in the power of art to heal and bring joy to people's lives. That's why
                    we have created a unique charity project that enables you to give back in a truly meaningful
                    way. By donating your artwork to us, you have the opportunity to make a difference in the lives
                    of those in need. Our team will carefully curate and sell your artwork, with all proceeds going
                    directly to support hospitals and the critical work they do in providing medical care and
                    comfort to those who need it most. Specifically, we will be donating the proceeds to <a
                        href="https://www.parkview.com/locations/parkview-womens-childrens-hospital/parkview-womens-and-childrens-hospital">Parkview
                        Women's and Children's Hospital</a> and <a href="https://hopesharborfw.org/">Hope's
                        Harbor</a>. Join us in using art to heal, inspire, and make a positive impact on the world.
                </p>
            </div>
        </div>
    </section>

{% endblock %}